.container {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  'dis dis dis dis'
  'ac c div times'
  'seven eight nine minus'
  'four five six plus'
  'one two three equal'
  'zero zero dot equal';
}
.padButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: gray;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
  /* border-radius: 10px; */
}

.padButton:hover {
  border: 1px solid white;
  color: #ccc;
}
.dis {
  grid-area: dis;
  text-align: right;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.zero {
  grid-area: zero;
}

.equal {
  grid-area: equal;
}

.dark-grey {
  background-color: #333;
}

.blue {
  background-color: blue;
}
.tomatoe {
  background-color: tomato;
}

.dis input {
  width: 90%;
  text-align: right;
  padding: 5px 20px;
  background-color: red;
  color: #fff;
}

.total {
  color: yellow;
  padding: 5px 20px;
}